body {
    background-image: url('assets/bg_sml.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 100%;
    color: white;
}

h1, h5 {
    text-align: center;
}

h1 {
    font-size: 2em;
}

h5 {
    font-size: 0.75em;
}
html {
    height: 100%;
    min-height: 100%;
}

#mainPhoto {
    margin: 20px 0 0 70px;
    border-radius: 50%;
    width: 200px;
    height: 150px;
}

ul {
    list-style-type: none;
    display:flex;
    justify-content: center;
    padding-left: 0;
}

li img {
    width: 50px;
    height: 50px;
    padding: 5px 10px;
}

li ul {
    display:none;
}

#projects:hover {

}


.svgListItem {
    float: left;
}
/* looked up solved by flexbox */

footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0;
    padding: 5px 0 10px 0px;
    text-align: center;
}

@media (min-width: 360px) {

    #mainPhoto {
        margin: 60px 0 0 90px;
        border-radius: 50%;
        width: 200px;
        height: 150px;
    }

    h1 {
        font-size: 2em;
    }

    h5 {
        font-size: 1em;
    }
}


@media (min-width: 410px) {
    #mainPhoto {
        margin: 60px 0 0 120px;
    }
}


@media (min-width: 550px) {
    body {
        background-image: url('assets/bg_lg.jpg');
    }

    #mainPhoto {
        margin: 100px 0 0 80px;
    }

    h1 {
        font-size: 3em;
    }
}

@media (min-width: 750px) {

    #mainPhoto {
        margin: 50px 0 0 200px;
        width:  400px ;
        height: 300px;
    }

    li img {
        width: 90px;
        height: 90px;
        padding: 5px 20px;
    }
}

@media (min-width: 900px) {
    #mainPhoto {
        margin: 50px 0 0 300px;
    }
}

@media (min-width: 1200px) {
    #mainPhoto {
        margin: 20px 0 0 520px;
    }

    h5 {
        font-size: 2em;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (min-width: 2000px) {
    #mainPhoto {
        margin: 20px 0 0 1100px;
    }

    h1 {
        font-size: 5em;
    }
    h5 {
        font-size: 3em;
    }
}
